<a href="https://colab.research.google.com/github/DanielBaek73/python202204/blob/main/pythonday3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#p62 표준입력
#input()함수는 키보드로 입력을 받을떄 사용된다.

n = input()
print(f'당신이 입력한 수는 {n}입니다.')

423432
당신이 입력한 수는 423432입니다.

In [7]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')

print('입력된 이름은 {}입니다'.format(name))
print(f'입력된 나이는 {age}살입니다') #붙여서 사용한다.

이름을 입력하세요 >>>sda
나이를 입력하세요 >>>2
입력된 이름은 sda입니다
입력된 나이는 2살입니다

In [9]:
#좋아하는 과일은?
#당신이 좋아하는 과일은 ....입니다.
fruit = input('좋아하는 과일은?')
print(f'당신이 좋아하는 과일은 {fruit}입니다.')

좋아하는 과일은?체리
당신이 좋아하는 과일은 체리입니다.

In [10]:
n = input('정수를 입력하세요 >>>') #input으로 입력받은것은 string(문자)이다.
print(type(n))

정수를 입력하세요 >>>33
<class 'str'>

In [12]:
price = 5000
#n = input('할부 개월 입력 >>>')
n = int(input('할부 개월 입력 >>>')) #정수형으로 형변환

print(f'매달 내는 돈은 {price / n}원 입니다.')

할부 개월 입력 >>>12
매달 내는 돈은 416.6666666666667원 입니다.

In [13]:
n = float(input('첫번째 실수를 입력하세요>>>'))
p = float(input('두번째 실수를 입력하세요>>>'))
print(f'{n}와 {p}의 합은 {n+p}입니다.')

첫번쨰 실수를 입력하세요>>>1.23
두번쨰 실수를 입력하세요>>>2.34
1.23와2.34의 합은3.57입니다.

In [15]:
#d={'1':'31','2':'28','3':'30','4':'30','5':'31','6':'31'}
month=[31,28,31,30,31,30,31,31,30,31,30,31]
n = int(input('1~12 사이의 월을 입력하세요>>>'))
print(f'{n}월은 {month[n-1]}일 까지 있습니다.')

1~12 사이의 월을 입력하세요>>>5
5월은 31일까지 있습니다.

In [18]:
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
n = input('영업 단어를 입력하세요>>>')
print(f'{n}:{english_dict[n]}')

영업 단어를 입력하세요>>>fly
fly:날다

In [19]:
s=set()
w = input('희망하는 수학여행지를 입력하세요>>>')
s.add(w)
w = input('희망하는 수학여행지를 입력하세요>>>')
s.add(w)
w = input('희망하는 수학여행지를 입력하세요>>>')
s.add(w)
print(f'조사된 수학여행지는 {s}입니다. ')

희망하는 수학여행지를 입력하세요>>>제주
희망하는 수학여행지를 입력하세요>>>제주
희망하는 수학여행지를 입력하세요>>>민속촌
조사된 수학여행지는 {'민속촌', '제주'}입니다.

In [22]:
#연산자

a=7
b=2
print(f'{a}+{b}={a+b}')
print(f'{a}-{b}={a-b}')
print(f'{a}*{b}={a*b}')
print(f'{a}**{b}={a**b}')
print(f'{a}/{b}={a/b}')
print(f'{a}//{b}={a//b}') #목
print(f'{a}%{b}={a%b}') #나머지(홀수,짝수,배수)뽑아낸다

7+2=9
7-2=5
7*2=14
7**2=49
7/2=3.5
7//2=3
7%2=1

In [25]:
#대입 연산자
a=1
b=2
a,b = 1,2  #a=1,b=2와 같음

print(f'a={a},b={b}')


#두 변수의 값 교환(다른언어)
t=a #다른언어의 방식
a=b #다른언어의 방식
b=t #다른언어의 방식

print(f'a={a},b={b}')

#두 변수의 값 교환(파이썬)
a,b=b,a
print(f'a={a},b={b}')

a=1,b=2
a=2,b=1
a=1,b=2

In [26]:

#복합 대입 연산자

a=1
print(a)
a=a+1 #1 증가
print(a)
a += 1 #a 자기자신에서 1 증가
print(a)
#a++ 자바 사용, 파이썬은 사용않함

a -= 1 # a=a-1

1
2
3

In [28]:
a,b=10,20
print(f'a={a},b={b}')
a,b=b,a #다른 언어에는 없는 파이썬 스러운 표현
print(f'a={a},b={b}')

a=10,b=20
a=20,b=10

In [31]:
piggy_bank=0
money=10000
piggy_bank+=money
print(f'저금통에 용돈 {money}원을 넣었습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

snack=2000
piggy_bank-=snack
print(f'저금통에서 스낵 구입비 {snack}원을 뺐습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

저금통에 용돈 10000원을 넣었습니다.
지금 저금통에는 10000원이 있습니다.
저금통에서 스낵 구입비 2000원을 뺐습니다.
지금 저금통에는 8000원이 있습니다.