<a href="https://colab.research.google.com/github/DanielBaek73/python202204/blob/main/pythonday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 39p 컬렉션

# 모음 - 여러 값을 하나의 이름으로 묶어서 관리하는 자료형

# 리스트(***)   [] 추가/수정/삭제 가능     mutable         인덱싱/슬라이싱 가능
# 튜플          () 추가/수정/삭제 불가능   immutable       인덱싱/슬라이싱 가능
# 딕셔너리      {} 추가/수정/삭제 가능     mutable         인덱싱/슬라이싱 불가능,순서가 없다
# 셋            {} 추가/수정/삭제 가능     mutable         인덱싱/슬라이싱 불가능,순서가 없다

In [ ]:
# 리스트 - 가장 많이 사용하는 자료형이다.자료형이 다른 데이터들도 함께 저장할수 있다.(문자,숫자 혼용)

li1 = [1,2,3,4]
print(li1)
li2 = [2,3.14, 'hello']
print(li2)

In [ ]:
a = "hello"
a[2]

In [ ]:
li = [2,3.14, 'hello']
li[0]
li[-1]

In [ ]:
li[1]

In [ ]:
# (start, stop, step)

li = [2,3.14, 'hello']
li[0:2]

In [ ]:
scores=[50,40,30]
scores.append(80) #append는 끝에서 하나씩 
print(scores) or scores

scores.insert(0,100) #0번째에 100점 삽입
scores

In [ ]:
scores.pop()  #끝에서부터 하나씩 날림(꺼냄)
scores

scores.pop(0) #첫번쨰 날림(삭제)
scores

In [ ]:
# 튜플 42p -한마디로 표현하면...수정할수 없는 리스트. (변경시 간접적으로 튜플->리스트->튜플 변경 또는 새로운 튜플 생성), 괄호 생략 가능

tu1 = (1,2,3)
print(tu1)

tu2= 2,3,4  #소괄호 생략 가능
print(tu2)
print(type(tu2))

tu3=2,3.14,'문자'
print(tu3)
print(type(tu3))

In [ ]:
tu = (10,20,30,40,50)
tu[1]  #대괄호는 인덱싱의 대괄호임
tu[0:3]

tu.append(90)

In [ ]:
# 셋의 용법 //중복데이타 제거 용도
set = {1,2,3}
print(type(set))
print(set)

set = {1,2,2,3,3,3}
print(type(set))
print(set)

set[0] #인덱싱이 안됨

In [ ]:
set.add(4)
set

set.remove(3)
set

In [ ]:
#딕셔너리 : 키와 밸류 한쌍으로 구성된 자료형이다. //JOSN의 구조와 비슷

dict = {'a':'apple','b':'banana'}
print(dict)
print(type(dict))

In [ ]:
dict['w']='watermelon'
print(dict)
print(type(dict))

In [ ]:
dict.pop('a')
print(dict)
print(type(dict))

In [ ]:
dict[0]

In [ ]:
me=[1,2,3]  #리스트
id(me) #메모리번지 보기

In [ ]:
me.append(4)    #뮤터블 -- 값이 있는 메모리주소를 가르킨다.
print(id(me))
print(me)

In [ ]:
me=10 #정수
id(me)

In [ ]:
me =+ 1
print(id(me))  #다른주소,,,,,, 이뮤터블

In [ ]:
me=[1,2,3]
you=me
print(id(me))
print(id(you))

In [ ]:
you.append(4)
print(id(me))
print(id(you))
print(me)
print(you)

In [ ]:
no1='서울2가1234'
no2='10가1234'
no3='288가1234'
print(no1[-4:])

print(no1,'의 차량번호 4자리는 ',no1[-4:],'입니다')

In [ ]:
s='maple'
print(s,'의 가운데 글자는 ',s[2],'입니다')

In [ ]:
li=[10,20,30,40,50,60,70,80,90,100]
li1=li[2:7]
print('3번째 요소부터 7번째 요소 =',li[2:7])
print('3번째 요소부터 7번쨰 요소 중 2번째 요소=',li1[1])
print('3번째 요소부터 7번쨰 요소 중 2번째 요소=',li[2:7][1])

In [ ]:
dict = {'금요일':'탕수육','토요일':'유산슬','일요일':'팔버채'}
print(dict)
print('금요일 :',dict['금요일'])