<a href="https://colab.research.google.com/github/DanielBaek73/python202204/blob/main/pythonday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello WOrld')


# 주석1
# 주석2
# 주석3

'''
주석1
주석2
주석3
'''

"""
"""

Hello WOrld

In [3]:
# 코드 위에 주석달기
print ('hello world') #코드 오른쪽에 주석달기

hello world

In [6]:
#변수

/

#변수명 만드는 규칙
#1.영문 한글 숫자 밑줄로 구성된다.(한글은 사용하지 말자)
#2. 특수문자 사용할수 없다. @#$%^&* 
#3. 대문자와 소문자를 구분한다. a=1 A=2  //별개
#4. 변수명의 첫글자에는 숫자가 올수 없다. a1=1(o), 1a=2(x)
#5. 예약어, 키워드는 변수명으로 사용할수 없다. print(x)
#* 가급적이면 소문자로만 만들자.
#* 한글 변수명은 가능하지만 사용하지 말자
#* 변수명에 의미를 담자. a=85 대신 mathscore=85

a=1
A=2
print(a)
print(A)

100
100
1
2

In [8]:
name='alice'
age=25
address='''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend=None
height=168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5