<a href="https://colab.research.google.com/github/DanielBaek73/python202204/blob/main/pythonday3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#p62 표준입력
#input()함수는 키보드로 입력을 받을떄 사용된다.

n = input()
print(f'당신이 입력한 수는 {n}입니다.')

423432
당신이 입력한 수는 423432입니다.

In [7]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')

print('입력된 이름은 {}입니다'.format(name))
print(f'입력된 나이는 {age}살입니다') #붙여서 사용한다.

이름을 입력하세요 >>>sda
나이를 입력하세요 >>>2
입력된 이름은 sda입니다
입력된 나이는 2살입니다

In [9]:
#좋아하는 과일은?
#당신이 좋아하는 과일은 ....입니다.
fruit = input('좋아하는 과일은?')
print(f'당신이 좋아하는 과일은 {fruit}입니다.')

좋아하는 과일은?체리
당신이 좋아하는 과일은 체리입니다.

In [10]:
n = input('정수를 입력하세요 >>>') #input으로 입력받은것은 string(문자)이다.
print(type(n))

정수를 입력하세요 >>>33
<class 'str'>

In [12]:
price = 5000
#n = input('할부 개월 입력 >>>')
n = int(input('할부 개월 입력 >>>')) #정수형으로 형변환

print(f'매달 내는 돈은 {price / n}원 입니다.')

할부 개월 입력 >>>12
매달 내는 돈은 416.6666666666667원 입니다.

In [13]:
n = float(input('첫번째 실수를 입력하세요>>>'))
p = float(input('두번째 실수를 입력하세요>>>'))
print(f'{n}와 {p}의 합은 {n+p}입니다.')

첫번쨰 실수를 입력하세요>>>1.23
두번쨰 실수를 입력하세요>>>2.34
1.23와2.34의 합은3.57입니다.

In [15]:
#d={'1':'31','2':'28','3':'30','4':'30','5':'31','6':'31'}
month=[31,28,31,30,31,30,31,31,30,31,30,31]
n = int(input('1~12 사이의 월을 입력하세요>>>'))
print(f'{n}월은 {month[n-1]}일 까지 있습니다.')

1~12 사이의 월을 입력하세요>>>5
5월은 31일까지 있습니다.

In [18]:
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
n = input('영업 단어를 입력하세요>>>')
print(f'{n}:{english_dict[n]}')

영업 단어를 입력하세요>>>fly
fly:날다

In [19]:
s=set()
w = input('희망하는 수학여행지를 입력하세요>>>')
s.add(w)
w = input('희망하는 수학여행지를 입력하세요>>>')
s.add(w)
w = input('희망하는 수학여행지를 입력하세요>>>')
s.add(w)
print(f'조사된 수학여행지는 {s}입니다. ')

희망하는 수학여행지를 입력하세요>>>제주
희망하는 수학여행지를 입력하세요>>>제주
희망하는 수학여행지를 입력하세요>>>민속촌
조사된 수학여행지는 {'민속촌', '제주'}입니다.